---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.navicon {
    background: #4c141b; // change color
  
    &:before,
    &:after {
      background: #4c141b; // change color
    }
  }
  
  .greedy-nav__toggle:hover {
    .navicon,
    .navicon:before,
    .navicon:after {
      background: mix(#000, #4c141b, 25%); // change color
    }
  }

  